:root {
  --type-noun-text: #B48EAD;
  --type-verb-text: #88C0D0;
  --type-pre-verb-text: #A3BE8C;
  --type-adjective-text: #D08770;
  --type-preposition-text: #8FBCBB;
  --type-particle-text: #D8DEE9;
  /* Red is kinda bad but I'm running out of Nord colors */
  --type-number-text: #BF616A;

  --type-background: #2E3440;

  --text: #ECEFF4;
  --body-background: #4C566A;

  --word-background: #434C5E;
  --word-border: #2E3440;

  --word-answers-text: #ECEFF4;
  --word-answers-background: #434C5E;
  --word-answers-border: #A3BE8C;

  --input-text: #EBCB8B;
  --input-background: #434C5E;
  --input-border: #EBCB8B;

  --input-text-hover: #88C0D0;
  --input-background-hover: #434C5E;
  --input-border-hover: #88C0D0;

  --input-text-focus: #ECEFF4;
  --input-background-focus: #434C5E;
  --input-border-focus: #D8DEE9;

  --input-failed-text: #ECEFF4;
  --input-failed-background: #434C5E;
  --input-failed-border: #BF616A;
}